<div class="rounded-[.95rem] border bg-[#ffff] ">
    <div class="py-8 px-9">
        <div class="mb-9">
            <h1 class="mb-2 text-[1.75rem] font-semibold text-dark">Top Billed Cast</h1>
        </div>
        <div class="credit-container">
            <div class="credit-list" *ngFor="let item of cast">
                <div class="mr-5 text-center mb-11 lg:mr-16 credit">
                    <div class="inline-block mb-4 relative shrink-0 rounded-[8px]">
                        <img class="inline-block shrink-0 rounded-[8px] w-[138px] h-[175px] mt-4 object-cover"
                            src="https://www.themoviedb.org/t/p/w138_and_h175_face/{{item.profile_path}}"
                            alt="avarat image">
                    </div>
                    <div class="text-center">
                        <a href="javascript:void(0)"
                            class="text-dark font-semibold hover:text-primary text-[1.25rem] transition-colors duration-200 ease-in-out">{{item.name}}</a>
                        <span class="block font-normal ">{{item.character}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-8 px-9">
        <div class="mb-9">
            <h1 class="mb-2 text-[1.75rem] font-semibold text-dark">Top Review</h1>
        </div>
        <article>
            <div class="flex items-center mb-4">
                <img class="w-10 h-10 me-4 rounded-full object-cover"
                    src="https://www.kindpng.com/picc/m/52-526237_avatar-profile-hd-png-download.png" alt="">
                <div class="font-medium dark:text-gray-700">
                    <p>{{author}}<time datetime="2014-08-16 19:00"
                            class="block text-sm text-gray-500 dark:text-gray-400">{{created_at}}</time></p>
                </div>
            </div>

            <footer class="mb-5 text-sm text-gray-500 dark:text-gray-400">
                <p>Reviewed</p>
            </footer>
            <p class="mb-2 text-gray-500 dark:text-gray-400">{{content}}</p>
            <button class="block mb-5 text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">Read
                more</button>

            <aside>
                <p class="mt-1 text-xs text-gray-500 dark:text-gray-400">19 people found this helpful</p>
                <div class="flex items-center mt-3">
                    <a
                        class="cursor-pointer text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4
                         focus:ring-gray-200 font-medium rounded-lg text-xs px-2 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700
                          dark:hover:border-gray-600 dark:focus:ring-gray-700">Helpful</a>
                    <a
                        class="cursor-pointer ps-4 text-sm font-medium text-blue-600 hover:underline dark:text-blue-500 border-gray-200 ms-4 border-s md:mb-0 dark:border-gray-600">Report
                        abuse</a>
                </div>
            </aside>
        </article>

        
        <div class="py-8">
            <h1 class="mb-2 text-[1.75rem] font-semibold text-dark">Recommendations</h1>
        </div>
        <div class="movie-list-container pt-2 pb-2 pl-4">
            <div *ngFor="let data of dataTopRated" class="movie-list">
              <!-- Danh sách các phim -->
              <div
                class="movie relative shadow-lg cursor-pointer transition-transform transform scale-100 hover:scale-105 duration-500">
                <div class="movie-img">
                  <img class="rounded-lg object-cover w-64 h-64 flex justify-center items-center"
                    src="https://image.tmdb.org/t/p/w220_and_h330_face{{data.poster_path}}" alt="">
                </div>
                <div
                  class="toast rounded-lg absolute w-full h-full bg-opacity-75 bg-[#bababa] top-0 left-0 opacity-0 transition-opacity duration-500 hover:opacity-100">
                  <div class="toast-content w-full absolute bottom-14 font-medium">
                    <div class="movie-tittle w-full p-4 whitespace-normal text-white">{{data.title}}</div>
                    <div class="movie-status flex justify-around text-white">
                      <p>{{data.release_date}}</p>
                      <p>{{data.vote_average}}<i class="fa-solid fa-star" style="color: #fff23d;"></i></p>
                    </div>
                  </div>
                  <div
                    class="absolute right-2.5 bottom-2  watch w-[90%] bg-[#F63C6D] flex items-center justify-center p-2 rounded-lg hover:scale-105 duration-500 text-white">
                    <a [routerLink]="['/movie', data.id]">Watch now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


    </div>
</div>