.video-container {
  position: relative;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Màu đen với độ mờ 50% */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}
