<div class="w-full" style=" background-image:linear-gradient(to right,rgba(21, 21, 21, 0.9), rgba(31, 29, 29, 0.7)),
        url('https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/{{backdrop_path}}'); 
        background-size: cover; background-repeat: no-repeat;">
  <div class="flex justify-center  w-full">
    <div class="">
      <img class="pt-6 pb-6 mr-6 rounded-[40px]"
        src='https://image.tmdb.org/t/p/w300_and_h450_multi_faces/{{poster_path}}' alt="">
    </div>
    <div class="content w-[55%] mt-3  ">
      <p class="text-[#fff] text-4xl mt-6">{{title}}</p>
      <div class="flex justify-center mt-3">
        <ul class="mt-2" *ngFor="let genre of genres">
          <li class="text-white p-1 mr-2 bg-slate-500 rounded cursor-pointer hover:bg-slate-400 ">{{genre.name}}</li>
        </ul>
      </div>
      <div class="flex  ">
        <button class="play" (click)="toggleCodeVisibility()">
          <i class="fa-regular fa-circle-play text-white text-[40px]"></i>
        </button>
        <p (click)="toggleCodeVisibility()"
          class="leading-[40px] text-white font-bold ml-3 cursor-pointer hover:text-gray-400">Play Movie</p>
      </div>
      <p class="mt-3 italic font-medium text-lg text-gray-400">{{tagline}}</p>
      <p class="mt-1 text-[18px] font-semibold text-[#fff]">Overview</p>
      <p class="text-[#fff]">{{overview}}</p>
      <div class="detail flex justify-around w-full mt-2 text-[#fff]">
        <p>{{release_date}}</p>
        <p class="mr-2">{{vote_average}}<i class="fa-solid fa-star" style="color: #fff23d;"></i></p>
      </div>
    </div>
  </div>
  <div *ngIf="isCodeVisible" class="pb-6">
    <div class="text-center grid place-items-center ">
      <div class="">
        <youtube-player videoId={{dataDetailMovie[0].key}} suggestedQuality="highres" [height]="350" [width]="640"
          [startSeconds]="4" [endSeconds]="8">
        </youtube-player>
      </div>
    </div>
  </div>
</div>
<app-cast></app-cast>


