<div class="search-container relative flex mt-2" >
    <input type="text" [(ngModel)]="searchTerm" (input)="search()" placeholder="Search..."
        class="  p-2 w-[100%] rounded-lg bg-[#181818] border border-gray-600 text-white" />

    <div class="icon-search absolute right-0 p-2 pr-2 cursor-pointer">
        <i class="fa-solid fa-magnifying-glass" style="color: #9a9a9a; font-size: 24px;"></i>
    </div>
</div>
<div class="searchh-sugesstions text-white">    
    <ul>
        <li class="w-100 bg-[#f9fafa] rounded text-black cursor-pointer pl-4 m-1 text-left items-center hover:cursor-pointer hover:bg-[#f0f1f2] hover:text-red-500" 
        *ngFor="let suggestion of suggestions">{{ suggestion.title }}</li>
        
    </ul>
</div>